extends ../main-layout

block title
	| Моя думка

block content
	header.header.header_mod_color
		.container_inner
			.header_inner
				.logo
					a.logo_link(href="/")
						img(src="img/logo.png", alt="Logo")
				.menu_trigger.menuTrigger
					span.menu_trigger_decor
				.menu_nav
					a.mail_link(href="mailto:tetyana_sergienko@ukr.net") 
						span.icon
						| sergienko_tetyana@ukr.net
					a.phone_link(href="tel:+380959238434") 
						span.icon
						| +38 095 923 84 34

	section.section_card
		.container_inner
			h4 
				| Електронні торги, як дієвий механізм отримати бажане дешево і сердито, 
				| або відсутність ефективного способу захисту прав боржника у виконавчому провадже
			.idea_content
				p
					| Якщо ви боржник, бійтеся електронних торгів, та вправно використовуйте той 
					| невеликий арсенал способів захисту, який пропонує вам чинне законодавство 
					| України. Інакше, можете отримати дуже невтішний результат від продажу вашого 
					| майна за вкрай низькою ціною, яка навіть не покриє розміру боргу. 
				p
					| Інша справа, якщо ви покупець на ринку електронних торгів, то у вас є шанс 
					| отримати бажане рухоме чи нерухоме майно за виключно низькою ціною, що деколи 
					| сягає у 10 і менше разів  від ринкової ціни майна.
				p
					| Однак, дана публікація не про покупців, а власне, про тих боржників, які залишились 
					| без способів захисту у виконавчому провадженні, які обмежені або законом, або 
					| судовою практикою, що наразі є одним з джерел українського права.
				p
					| Отже, розглянемо таку ситуацію: ви боржник і маєте борг перед стягувачем, що 
					| передав відповідний виконавчий документ для примусового виконання до державного 
					| чи приватного виконавця. У вас є нерухоме чи рухоме майно, що підпадає під категорію 
					| такого, на яке може бути звернуто стягнення.
				p
					| Відповідно до чинного Закону України «Про виконавче провадження» таке майно 
					| підлягає оцінці та подальшій реалізації.
				p
					| І тут починається найцікавіше…
				p
					| Оцінка майна, з правової точки зору, є частиною виконавчого провадження, тобто 
					| дією державного чи приватного виконавця, що може бути оскаржена в разі чого. Проте, 
					| на практиці, дії виконавця щодо проведення оцінки зводяться виключно до прийняття 
					| відповідної постанови про залучення об’єкта оціночної діяльності для проведення 
					| оцінки, що саме по собі не може трактуватись як порушення закону.
				p
					| Отже, в контексті призначення такого суб’єкта оціночної діяльності, дії виконавця 
					| можуть бути оскаржені, однак, даний спосіб захисту не є ефективним, адже формально в 
					| його діях немає жодного порушення. Таким чином, оскарження дій виконавця щодо 
					| призначення суб’єкта оціночної діяльності – не є ефективним способом захисту, 
					| враховуючи специфіку доведення неправомірності дій виконавця, які по суті, як 
					| правило, відповідають закону, та він має прямий обов’язок щодо визначення вартості 
					| майна для подальшої реалізації. Відповідно навіть з цих підстав, суд може відмовити 
					| вам у задоволенні скарги на дії державного чи приватного виконавця.
				p
					| Важливо!!! Сам результат оцінки – тобто висновок/звіт про вартість майна, якщо він 
					| не влаштовує боржника, він не має права оскаржити до суду з двох позицій ВС України, 
					| що закріплені у відповідній правозастосовній практиці: 1) висновок про оцінку майна 
					| не є правочином чи актом, тобто не може бути визнаний недійсним та скасований судом 
					| ( правова позиція ВСУ у справі № 914/881/17; 2) таке оскарження ( навіть формальне в 
					| контексті оскарження дій виконавця) не зупиняє дію даної оцінки, та реалізація за нею 
					| все одно буде відбуватись ( пряма норма ст. 57 Закону України «Про виконавче 
					| провадження»).
				p
					| Таким чином, навіть якщо вас не влаштовує оцінка, ви можете висловити з нею свою 
					| незгоду, замовити рецензію чи оскаржити дії виконавця, однак, реалізація майна за 
					| нею все одно відбудеться. Ви можете відстрочити таку реалізацію, шляхом забезпечення 
					| позову забороною такої реалізації, однак, спірним питанням є остаточне рішення у даній 
					| справі, про яке мною зазначалось вище.
				p
					| На мою думку, нівелювання Верховним Судом України можливості щодо захисту порушених 
					| прав шляхом оскарження висновку про оцінку майна є таким, що суперечить гарантованому 
					| Конституцією України  праву особи на судовий захист, адже обмежує особу у способах 
					| захисту, які на його думку є ефективними. Чому? Йдемо далі…
				p
					| Оскаржуємо результати електронних торгів, з усіма послідуючими правовстановлюючими  
					| документами, тобто оспорюємо право власності нового власника на ваше майно.
				p
					| Однак, і на даній стадії право боржника обмежено правовою позицією ВСУ, що відображена 
					| у у справах № 6-116цс12 та № 490/5475/15, яка вказує, що в справах про оскарження 
					| результатів електронних торгів, питання ціни реалізації не досліджується та не 
					| оцінюється судом, а зводиться до перевірки дотримання вимог Правил проведення 
					| електронних торгів відповідною організацією. Як вказує ВСУ, оцінка майна не є 
					| предметом розгляду, та її потрібно оскаржувати в рамках дій державного виконавця. 
					| При цьому, формулюючи вимоги щодо оскарження дій державного виконавця та визнання їх 
					| неправомірними в контексті проведеної оцінки, боржник не може підтвердити їх 
					| незаконність, адже сама по собі оцінка майна була проведена не виконавцем, а третьою 
					| особою, дії якої жоден закон не визначає як такі, що можуть бути оскаржені, як і сам 
					| висновок, який не є правочином, в розумінні вимог ст. 203 ЦК України.
				p
					| Як підсумок спосіб захисту порушених прав боржника реалізацією його майна за заниженою 
					| ціною, шляхом оскарження результатів електронних торгів також є неефективним.
				p
					| Тож на якій стадії виконавчого провадження боржник може захистити своє право на 
					| реалізацію майна за справедливою ціною?  На мою скромну та песимістичну думку, 
					| такої стадії немає, як і дійсно ефективного способу захисту, який у всіх можливих 
					| варіаціях було обмеженою Верховним Судом та правозастосовною практикою.
				p
					| Зокрема, відповідно до постанови Верховного Суду  України від 29.11.2017 року 
					| №668/5633/14-ц, головною умовою, яку повинні встановити суди, є наявність порушень, 
					| що могли вплинути на результати торгів, а тому, окрім наявності порушення норм 
					| закону при проведенні прилюдних торгів, повинні бути й порушення прав та законних 
					| інтересів  особи, яка їх оспорює.
				p
					| Однак, на практиці, порушенням прав на справедливу оцінку майна боржника, що 
					| підлягає реалізації, суди не визнають порушенням, та навіть не досліджують цю 
					| обставину при розгляді справи, знову ж таки, виходячи з правової позиції ВСУ.
				p
					| Крім того, ще одним механізмом реалізації майна боржника за заниженою ціною є 
					| проведення повторної її оцінки необмежену кількість разів.
				p
					| Так, відповідно до п. 5, 6, 7 ст. 61 Закону України «Про виконавче провадження»,  
					| не реалізоване на електронних торгах нерухоме майно виставляється на повторні 
					| електронні торги за ціною, що становить 85 відсотків, а рухоме майно - 75 відсотків 
					| його вартості, визначеної в порядку, встановленому статтею 57 цього Закону.
				p
					| У разі повторної нереалізації майна нерухоме майно виставляється на треті 
					| електронні торги за ціною, що становить 70 відсотків, а рухоме майно - 50 відсотків 
					| його вартості, визначеної в порядку, встановленому статтею 57 цього Закону.
				p
					| У разі нереалізації майна на третіх електронних торгах виконавець повідомляє про 
					| це стягувачу і пропонує йому вирішити питання про залишення за собою нереалізованого 
					| майна, крім майна, конфіскованого за рішенням суду.
				p
					| У разі якщо стягувач протягом 10 робочих днів з дня отримання повідомлення виконавця 
					| письмово не заявив про своє бажання залишити за собою нереалізоване майно, арешт з 
					| майна знімається і воно повертається боржникові. <b> За відсутності у боржника іншого 
					| майна, на яке може бути звернено стягнення, виконавчий документ повертається 
					| стягувачу без виконання. </b>
				p
					| Однак, на практиці, державні та приватні виконавці йдуть в обхід зазначеної норми 
					| закону, призначаючи щоразу ннн- ну оцінку, яка кожного разу занижується оцінювачем, 
					| а відтак, майно реалізується за ціною, що є значно нижче 75% його вартості, 
					| обґрунтовуючи зазначене визначенням вартості майна, шляхом повторної оцінки, а не 
					| зниженням ціни визначеної раніше вартості майна.
				p
					| Виходячи з вказаних обмежень, що фактично зумовлені правовими позиціями Верховного 
					| Суду, раджу боржникам, щодо яких відкрито виконавче провадження, ретельно та 
					| періодично знайомитись з матеріалами виконавчого провадження. Вчасно (протягом 10 днів) 
					| оскаржувати дії державного чи приватного виконавця до суду в частині визначення 
					| вартості майна та зупиняти його реалізацію, шляхом відповідного забезпечення позову, 
					| і отримувати поштову кореспонденцію, що не завжди реально надсилається боржникам, 
					| адже пропуск зазначеного строку в подальшому значно знизить ваші шанси на відновлення 
					| свого права, виключно з формальних та символічних підстав невірно обраного способу 
					| захисту, порушення процесуальних строків, тощо що саме по собі, на мою думку, порушує 
					| права особи на судовий захист.
				p
					| Таким чином, можемо лише сподіватись на те, що проведена суб’єктами оціночної 
					| діяльності ( по суті недоторканними з точки зору закону) оцінка майна, яка наразі 
					| обмежується виключно рецензуванням та перевіркою ФДМУ, буде справедливою та реальною, 
					| і можливо, в подальшому така категорія, як «вартість майна»,  вийде за рамки виключно 
					| формальної, та виокремиться у самостійну галузь, що матиме більш чітку структуру та 
					| механізми реалізації права особи, яка з такою оцінкою не згодна.
				.down_div
					p
						| З повагою, 
					p
						| Т. Сергієнко