footer.footer
	.container_inner
		.footer_inner
			.logo
				a.logo_link(href="/")
					img(src="img/logo.png", alt="Logo")
			.social_box
				ul.social_list
					li.social_item
						a(href="").social_link
							img(src="img/facebook.png", alt="Facebook" title="Facebook")
					li.social_item
						a(href="").social_link
							img(src="img/instagram.png", alt="Instagram" title="Instagram")
					li.social_item
						a(href="").social_link
							img(src="img/whatsapp.png", alt="Whatsapp Viber" title="Whatsapp Viber")
					li.social_item
						a(href="").social_link
							img(src="img/skype.png", alt="Skype" title="Skype")


.modal.fade(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")#orderMaster01
	.modal-dialog(role="document")
		.modal-content
			.modal-header
				.modal-title 
					p Консультації
				button(data-dismiss="modal" aria-label="Close").close
					span(aria-hidden="true")
			.modal-body
				ul.service_offer_list
					li.service_offer_item
						p
							| Спадкового права.
					li.service_offer_item
						p
							| Сімейного права.
					li.service_offer_item
						p
							| Житлового права.
					li.service_offer_item
						p
							| Трудового права.
					li.service_offer_item
						p
							| Зобов’язального права.
					li.service_offer_item
						p
							| Договірного права.
					li.service_offer_item
						p
							| Права інтелектуальної власності.
					li.service_offer_item
						p
							| Права власності.
					li.service_offer_item
						p
							| Адміністративного права.
					li.service_offer_item
						p
							| Господарського права.
					li.service_offer_item
						p
							| Земельного права.
					li.service_offer_item
						p
							| Податкового права.
					li.service_offer_item
						p
							| Права соціального забезпечення, тощо.
				//- button(type="button").form_button Отримати консультацію

.modal.fade(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")#orderMaster02
	.modal-dialog(role="document")
		.modal-content
			.modal-header
				.modal-title 
					p Складання документів
				button(data-dismiss="modal" aria-label="Close").close
					span(aria-hidden="true")
			.modal-body
				ul.service_offer_list
					li.service_offer_item
						p
							| Договори, протоколи розбіжностей.
					li.service_offer_item
						p
							| Заяви, скарги, пропозиції.
					li.service_offer_item
						p
							| Претензії.
					li.service_offer_item
						p
							| Позовні заяви, апеляційні та касаційні скарги.
					li.service_offer_item
						p
							| Процесуальні документи: клопотання, заяви, відзиви, відповіді, заперечення.
					li.service_offer_item
						p
							| Статути, рішення зборів учасників.
					li.service_offer_item
						p
							| План реструктуризації, план санації, тощо в справах про банкрутство.
					li.service_offer_item
						p
							| Положення, Правила, Порядки та інші спеціальні акти, що виникають з ліцензійної чи чи іншої специфічної діяльності.
				//- button(type="button").form_button Отримати консультацію

.modal.fade(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")#orderMaster03
	.modal-dialog(role="document")
		.modal-content
			.modal-header
				.modal-title 
					p Представництво інтересів
				button(data-dismiss="modal" aria-label="Close").close
					span(aria-hidden="true")
			.modal-body
				ul.service_offer_list
					li.service_offer_item
						p
							| В державних органах, підприємствах, установах, організаціях всіх форм власності та підпорядкування.
					li.service_offer_item
						p
							| Органах нотаріату.
					li.service_offer_item
						p
							| Органах ДВС, податкових органах, інспекціях, інших контролюючих органах.
					li.service_offer_item
						p
							| В судах, (в включаючи першу, апеляційну, касаційну інстанції) :
						p
							| а) загальної юрисдикції ( цивільні, сімейні, житлові, трудові, земельні спори, тощо);
						p
							| б) господарських ( стягнення заборгованості, визнання договорів недійсними, 
							| корпоративних спорах, справах про банкрутство, тощо);
						p
							| в) адміністративних судах ( оскарження рішень, дій чи бездіяльності органів державної 
							| влади чи органів місцевого самоврядування, інших суб’єктів владних повноважень, 
							| оскарження податкових вимог, податкових повідомлень – рішень, тощо).
					li.service_offer_item
						p
							| Звернення до Європейського суду з прав людини ( після вичерпання всіх національних способів захисту).
					li.service_offer_item
						p
							| Медіація ( участь у переговорах, підготовка рішень, тощо).
				//- button(type="button").form_button Отримати консультацію