//- header.header
//- 	.container_inner
//- 		.header_inner
//- 			.logo
//- 				a.logo_link(href="/")
//- 					img(src="img/logo.png", alt="Logo")
//- 			.box_lang.box_lang_mobile
//- 				select.styled.select_lang
//- 					option(value="value1").select-lang__option РУ
//- 					option(value="value2").select-lang__option ИСП
//- 			.menu_trigger.menuTrigger
//- 				span.menu_trigger_decor
//- 			.menu_nav
//- 				ul.menu_list
//- 					li.menu_list_item
//- 						a.menu_list_link(href="#about") О нас
//- 					li.menu_list_item
//- 						a.menu_list_link(href="#services") Наши услуги
//- 					li.menu_list_item
//- 						a.menu_list_link(href="#reviews") Отзывы
//- 					li.menu_list_item
//- 						a.menu_list_link(href="#contact") Контакты
//- 				a.mail_link(href="mailto:accentcapital@mail.com") 
//- 					span.icon
//- 					| accentcapital@mail.com
//- 				a.phone_link(href="tel:+79999999999") 
//- 					span.icon
//- 					| +7 999 999 99 99
//- 				.box_lang.box_lang_desc
//- 					select.styled.select_lang
//- 						option(value="value1").select-lang__option РУ
//- 						option(value="value2").select-lang__option ES